{% extends "base/base.html" %}

{% block title %}
Add Physician
{% endblock %}

{% block heading %}
Add Physician
{% endblock %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

<div class="card mb-3">
  <div class="card-body">
    <form action="{% url 'add_physician' %}" method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div class="mb-3 d-flex flex-column align-items-start">
        <label class="form-label">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>
    <p>Hmm, nevermind.&nbsp;<a href="{% url 'index' %}">Go home!</a></p>
  </div>
</div>
{% endblock %}