{% extends "base/base.html" %}

{% block title %}
DocFinder | Delete Physician
{% endblock %}

{% block heading %}
Delete {{physician.first_name}} {{physician.last_name}}, {{physician.degree_type}}?
{% endblock %}

{% block content %}
<form action="{% url 'delete_physician' physician.id %}" method="POST">
    {% csrf_token %}
    <div class="card border-danger mb-3">
      <div class="card-header fw-semibold text-bg-danger">Are you sure?!</div>
      <div class="card-body">
        <p class="card-text">This action cannot be undone.</p>
        <div class="d-flex flex-rows justify-content-between">
            <a type="button" class="btn btn-outline-dark" href="{{ request.META.HTTP_REFERER }}">No! Go back!</a>
            <input type="submit" class="btn btn-danger" value="Yes! Delete!" />
        </div>
      </div>
    </div>
</form>
{% endblock %}