{% extends "base/base.html" %}

{% block title %}
DocFinder | Edit Physician
{% endblock %}

{% block heading %}
Edit Physician
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card mb-3">
  <div class="card-body">
    <form action="{% url 'edit_physician' physician.id %}" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>
    <p>Hmm, nevermind.&nbsp;<a href="{{ request.META.HTTP_REFERER }}">Go home!</a></p>
  </div>
</div>
{% endblock %}