{% extends "base/base.html" %}

{% block title %}
Login
{% endblock %}

{% block heading %}
Login
{% endblock %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

<div class="card">
  <div class="card-body">
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="un_input" class="form-label">Username</label>
        <input type="text" class="form-control" id="un_input" name="un_input" autocomplete="off" required>
      </div>
      <div class="mb-3">
        <label for="pw_input" class="form-label">Password</label>
        <input type="password" class="form-control" id="pw_input" name="pw_input" required>
      </div>
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>
    <p>No account? No problem!&nbsp;<a href="{% url 'register' %}">Register here</a></p>
  </div>
</div>
{% endblock %}