<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-semibold" href="{% url 'index' %}">DocFinder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <div class="btn-group-vertical" role="group">
            {% if user.is_authenticated %}
              <a type="button" class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
              {% if perms.base.can_add_physician %}
              <a type="button" class="btn btn-outline-success" href="{% url 'add_physician' %}">Add Physician</a>
              {% endif %}
            {% else %}
              <a type="button" class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
              <a type="button" class="btn btn-outline-light" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
          <li class="nav-item dropdown mb-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Specialties
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              {% for el in specialties %}
                <li><a class="dropdown-item" href="{% url 'specialty' el.id%}">
                  {{el}}
                </a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>